nav li{ /* aqui eu modifico apenas a lista de links */
    display: inline; /* coloca os links do navegador em linha */
    margin: 14rem; /* espaço entre os links */
}

nav a{ /* aqui eu modifico apenas as palavras ancoradas */
    text-decoration: none;/* tira a linha das palavras ancoradas */
    font-size: 2.0rem;/* aumenta a letra da as palavras ancoradas */
    color: rgb(12, 12, 12);

}

body{
    background-image: linear-gradient(to right, rgb(49, 134, 15) , rgb(76, 253, 76));
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h3 {
   display: flex;
   font-size: 2.5rem;
   color: rgb(14, 13, 12);
   height: 50PX;
  }
  h2{
    font-size: 2.5rem;
    color: rgb(10, 10, 9);
  }